body {
    background-color: #100f0f;
}

h3 {

    color: rgb(224, 216, 95);
}

/*td {
    color: rgb(251, 248, 248);
}*/

th{
    color:rgb(27, 128, 65);
    font-weight: bold;
}

table {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    /*border-color: #232323;*/
    border-color: #263e0f;
    border-collapse: separate;
    background-color: #000000;
    color: #ffffff;
}

table th, table td {
    border-width: 2px;
    border-style: solid;
    border-color: #232323;
  }